---
- name: "set Node.js backend environment variables"
  shell: |
    cd /home/ubuntu/backend-app
    export NODE_ENV=production
    export VERSION=1
    export TYPEORM_HOST=udapeople-prod.cjckrotun9g5.us-east-1.rds.amazonaws.com
    export TYPEORM_PORT=5432
    export TYPEORM_USERNAME=postgres
    export TYPEORM_PASSWORD=udapeopledbpassw0rd
    export TYPEORM_DATABASE=postgres
    export TYPEORM_MIGRATIONS_DIR=./src/migrations
    export TYPEORM_ENTITIES=./src/modules/domain/**/*.entity{.ts,.js}
    export TYPEORM_MIGRATIONS=./src/migrations/*.ts

- name: "Creates backend app directory"
  file:
    path: /home/ubuntu/backend-app
    state: directory

- name: "Unarchive backend artifact file"
  unarchive:
    src: artifact.tar.gz
    dest: /home/ubuntu/backend-app


- name: "Installing Node Dependencies"
  shell: |
    cd /home/ubuntu/backend-app
    npm install
  register: npm_install

- name: print npm_install message
  debug:
    msg: "{{ npm_install.stdout_lines }}"


- name: "Executing Node app with PM2, the 1st method, Mahmoud Alahmady Videos"
  shell: |
    cd /home/ubuntu/backend-app/dist
    pm2 stop default
    pm2 start main.js
  register: execute_node

# - name: "Executing Node app with PM2, the 2nd method, Udacity instructions"
#   shell: |
#     cd /home/ubuntu/backend-app
#     pm2 stop default
#     pm2 start npm -- start
#   register: execute_node

# - name: "Executing Node app with PM2, the 3rd method, Stackoverflow Article"
#   shell: |
#     cd /home/ubuntu/backend-app
#     pm2 start npm --name backend-app -- start
#   register: execute_node

- name: print execute_node message
  debug:
    msg: "{{ execute_node.stdout_lines }}"

- name: "Configure pm2 to start as service"
  become: true
  shell: |
    env PATH=$PATH:/usr/local/bin pm2 startup systemd -u ubuntu --hp /home/ubuntu